<form id="login" method="post" action="/iniciar">
<div class="inputs">
  <div class="icon"><i class="far fa-user"></i></div><input type="text" name="email" placeholder="Email" required>
</div>
<div class="inputs">
  <div class="icon"><i class="fas fa-key"></i></div><input type="password" name="password" placeholder="Contraseña" required>
</div>
<div class="inputs">
  <input type="hidden" name="_token" value={{token}}>
</div>
<input type="submit" name="" value="——————————Login——————————————">
</form>
