<form id="signup" method="post" action="/user">
<div class="inputs">
  <div class="icon"><i class="far fa-user"></i></div><input type="text" name="nombre"  placeholder="  Nombre" required>
</div>
<div class="inputs">
  <div class="icon"><i class="far fa-envelope"></i></div><input type="Email" name="email" placeholder="  Email" required>
</div>
<div class="inputs">
  <div class="icon"><i class="fas fa-key"></i></div><input type="password" name="password" placeholder="  Contraseña" required>
</div>
<div class="inputs">
  <div class="icon"><i class="fas fa-check"></i></div><input type="password" name="password2" placeholder="  Confirmar contraseña" required>
</div>
<div class="inputs">
  <input type="hidden" name="_token" value="{{token}}">
</div>
<input type="submit" name="" value="—————————Signup———————————————">
</form>
